/* Mentors.css */
:root {
    --body-color: #010c15;
    --text-color: #ffffff;
    --hover-color: #ffffff;
    --accent-color: #0101fa;
    --underline-thickness: 3px;
  
    color-scheme: dark;
  }

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    display: grid;
    overflow: hidden;
    place-content: center;
    background-color: var(--body-color);
    padding: 10px 0;
    text-align: center;
    height:60px;
}

.club-logo {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 5px;
  width: 720px;
  height: 390px;
  padding: 9px;
  margin-left: 0%;
  background-color: rgba(231, 235, 244, 0.0);
  overflow: hidden;
  border-radius: 4px;

}


.club-logo img {
  align-content: left;
  width: 100%;
  margin-left:-30px;
  height: 100%;
  margin-top:-170px;
  z-index: 10;
  border-radius: -10px;
  background-color: rgba(231, 235, 244, 0.0);
  padding:4px;

}

.club-logo img :hover {
    cursor:pointer; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    text-transform: capitalize;
    font: bold 1.5rem sans-serif;
  
    & a {
      color: var(--text-color);
      cursor: pointer;
      overflow: hidden;
      margin-left:50px;
      transition: 0.3s;
      position: relative;
      text-decoration: none;
      padding: 0 0.5em 0.25em;
  
      &::before {
        content: "";
        scale: 0 1;
        position: absolute;
        background: var(--accent-color);
        transition: 0.3s, translate 0s 0.3s;
        inset: calc(100% - var(--underline-thickness)) 0 0 0;
      }
  
      &:hover {
        color: var(--hover-color);
  
        &::before {
          translate: 0;
          transition: 0.3s;
        }
      }
    }
  
    &:hover {
      & a::before {
        scale: 1;
      }
  
      & a:has(~ a:hover)::before {
        translate: 100% 0;
        transition: 0.2s 0.2s, scale 0s 0.4s;
      }
  
      & a:hover ~ a::before {
        translate: -100% 0;
        transition: 0.2s 0.2s, scale 0s 0.4s;
      }
    }
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90%;
    margin: 10px auto;
    background-color: rgba(153, 153, 153, 0.397);
    padding: 10px;
    border-radius: 10px;
}
.container h1 {
  font-size: 40px;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: relative; /* Add position relative */
  overflow: hidden;
  transition: color 3.0s; /* Add transition for color */
  color: var(--text-color); /* Initial text color */
  text-decoration: underline; /* Add underline */
  text-underline-offset: 10px; /* Set text underline offset */
  text-decoration-color: rgba(255, 255, 255, 0);

}

.container h1:hover {
  text-decoration-color: var(--accent-color); /* Change underline color on hover */
}




.mentor,
.mentor_data {
    background-color: rgba(90, 106, 126, 0.214);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.mentor {
    width: 25%;
    text-align: center;
}

.mentor_data {
    width: 60%; /* Adjust width for margin */
    height:fit-content;
}

.mentor_data p {
    font-size: 16px;
    text-align: left;
}

.mentor h2 {
    font-size: 25px;
}

.mentor p {
    font-size: 15px;
    font-weight: bold;
}

.mentor img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    padding: 2px;
    
}


.mentor img :hover{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    padding: 2px;
    opacity: 0.2;
    
}


.social-media {
  margin-bottom: 10px;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}


footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


