/* Mentors.css */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: rgba(1, 149, 255, 0.9);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(0, 213, 255, 0.397);
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90%;
    margin: 10px auto;
    background-color: rgba(153, 153, 153, 0.397);
    padding: 10px;
    border-radius: 10px;
}

.container h1 {
    font-size: 40px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.mentor,
.mentor_data {
    background-color: rgba(90, 106, 126, 0.214);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.mentor {
    width: 25%;
    text-align: center;
}

.mentor_data {
    width: 60%; /* Adjust width for margin */
    height:fit-content;
}

.mentor_data p {
    font-size: 16px;
    text-align: left;
}

.mentor h2 {
    font-size: 25px;
}

.mentor p {
    font-size: 15px;
    font-weight: bold;
}

.mentor img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    padding: 2px;
    
}


.mentor img :hover{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    padding: 2px;
    opacity: 0.2;
    
}




footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

